/* .no-margin {
  margin: 0;
  width: 100%;
} */

.navigationBar {
  background-color: #f8f9fa;
  border-bottom: 1px rgb(214, 212, 212) solid;
}

.login-legend{
  text-align: center;
  width: 80px;
}

.my-fieldset{
  margin-top: 4rem;
  border: 1px solid;
  padding: 4%;
}
